/.settings/*

/html-template/*
/bin-debug/*
/bin-release/*
/doc/*
/report/*
/dist/*
/*.iml
/com.adobe.flexbuilder.project.prefs
/org.eclipse.core.resources.prefs
FlexUnitApplication.mxml
Icon
Thumbs.db
.DS_Store
